.hero {
  grid-column: 2/2;

  &-image {
    height: 500px;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.overlay {
  &-white {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #fff, rgba(128, 128, 128, 0));
    z-index: 1;
  }
  &-text-container {
    position: absolute;
    top: 100px;
    left: 0;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 20px;
    width: 450px;
    & h1 {
      font-size: 2.5rem;
      font-weight: 400;
      letter-spacing: -1px;
      color: $black;
    }
    & p {
      font-size: 0.85rem;
      // font-weight: 600;
      color: $grey;
      margin-bottom: 10px;
    }
    & input {
      padding: 20px;
      width: 100%;
      border: 1px solid $light-grey;
    }
    & input::placeholder {
      font-size: 0.8rem;
      color: $light-grey;
    }
    & form {
      position: relative;
    }
    & button {
      position: absolute;
      top: 8px;
      right: 10px;
    }
  }
}
.bold {
  font-weight: 900;
}
.overlay-white-relative {
  position: relative;
  width: 100%;
  height: 100%;
}
