.sponsor {
  grid-column: 2/2;
  display: grid;
  grid-template-columns: 1fr 200px;
  &-box {
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-svg-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 180px;
    & svg {
      width: 100px !important;
      height: 100px !important;
    }
  }
}
