.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  //   background-color: $green;
  & svg {
    width: 500px !important;
    height: 500px !important;
  }
}
