*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins",sans-serif;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 1fr;
      grid-template-columns: 200px 1fr;
  padding-bottom: 50px;
}

.absolute-image {
  position: absolute;
  width: 100%;
  height: 350px;
  bottom: 35px;
  left: 35px;
}

.relative {
  position: relative;
}

.page-header {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  border-bottom: 1px solid #bac2bf;
}

.page-header-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header-nav ul,
.page-header-signup ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header-nav {
  width: 400px;
}

.page-header-navlink {
  font-size: 0.85rem;
  font-weight: 400;
  color: #333333ff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.page-header-signup {
  width: 250px;
}

.page-header-signup-navlink {
  font-weight: 600;
  font-size: 0.85rem;
  color: #333333ff;
}

.bolder {
  font-weight: 900 !important;
}

.footer {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
}

.footer-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-row-gap: 60px;
}

.footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  height: 350px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom p {
  font-size: 0.9rem;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.footer-icons i {
  color: #333333ff;
  font-size: 1.5rem;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contact h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-contact p {
  font-size: 0.95rem;
  width: 500px;
}

.footer-contact-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 10px;
}

.footer-contact-item-line {
  width: 2px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #bac2bf;
}

.footer-branch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-branch-1 {
  width: 450px !important;
}

.footer-branch-2 {
  width: 300px !important;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form input,
.footer-form textarea {
  padding: 20px;
  outline: 0;
  border: 1px solid #bac2bf;
}

.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form input::-ms-input-placeholder,
.footer-form textarea::-ms-input-placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form textarea {
  overflow-y: auto;
}

.footer-form button {
  padding: 20px !important;
}

.button {
  font-family: "Poppins", sans-serif;
  outline: 0;
  padding: 10px 20px;
  text-transform: capitalize;
}

.button-dark {
  background-color: #03381c;
  color: #f6f7f7;
  border: 1px solid transparent;
}

.button-light {
  border: 2px solid #03381c;
  background-color: transparent;
  color: #03381c;
}

.hero {
  -ms-grid-column: 2;
  grid-column: 2/2;
}

.hero-image {
  height: 500px;
  position: relative;
}

.hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.overlay-text-container {
  position: absolute;
  top: 100px;
  left: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[3];
      grid-template-rows: repeat(3, auto);
  grid-row-gap: 20px;
  width: 450px;
}

.overlay-text-container h1 {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: #333333ff;
}

.overlay-text-container p {
  font-size: 0.85rem;
  color: #626562;
  margin-bottom: 10px;
}

.overlay-text-container input {
  padding: 20px;
  width: 100%;
  border: 1px solid #bac2bf;
}

.overlay-text-container input::-webkit-input-placeholder {
  font-size: 0.8rem;
  color: #bac2bf;
}

.overlay-text-container input:-ms-input-placeholder {
  font-size: 0.8rem;
  color: #bac2bf;
}

.overlay-text-container input::-ms-input-placeholder {
  font-size: 0.8rem;
  color: #bac2bf;
}

.overlay-text-container input::placeholder {
  font-size: 0.8rem;
  color: #bac2bf;
}

.overlay-text-container form {
  position: relative;
}

.overlay-text-container button {
  position: absolute;
  top: 8px;
  right: 10px;
}

.bold {
  font-weight: 900;
}

.sponsor {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
}

.sponsor-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsor-svg-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 180px;
}

.more-info {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  height: 230px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-info-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more-info-first-box {
  width: 400px;
}

.more-info-first-box p {
  font-size: 0.85rem;
  color: #626562;
}

.more-info-first-box, .more-info-second-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.more-info-second-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 400px;
}

.more-info-second-box-inner {
  width: 120px;
}

.more-info-second-box-inner h3 {
  font-weight: 900;
  font-size: 2.2rem;
  color: #03381c;
}

.more-info-second-box-inner p {
  font-weight: 600;
  font-size: 0.9rem;
}

.services {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  margin-top: 50px;
}

.services-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 80px;
  -ms-grid-rows: 350px 350px;
      grid-template-rows: 350px 350px;
  grid-row-gap: 100px;
  height: 880px;
}

.services-box-image {
  width: 500px;
  height: 350px;
  position: relative;
  border: 1px solid #bac2bf;
}

.services-box-image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.services-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  height: 280px;
}

.services-box-text p {
  color: #626562;
  font-size: 0.85rem;
}

.services-box-text a {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 0.85rem;
  color: #03381c;
  font-weight: 900;
}

.heading-3 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: -0.7px;
}

.slider {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 200px;
      grid-template-columns: 2fr 1fr 200px;
  grid-column-gap: 50px;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 220px;
  -ms-flex-item-align: center;
      align-self: center;
  width: 300px;
}

.slider-image {
  width: 700px;
  height: 350px;
  position: relative;
  border: 1px solid #bac2bf;
}

.slider-image img {
  width: 800px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.slider-button-outer {
  width: 25px;
  height: 25px;
  border: 2px solid #03381c;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.slider-button-inner {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-button-active {
  background-color: #03381c;
}

.slider-button-inactive {
  border: 1px solid #626562;
  width: 20px !important;
  height: 20px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.slider-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

.slider-arrows-prev i {
  color: #bac2bf;
}

.slider-arrows-next i {
  color: #626562;
}

.slider-absolute-image {
  position: absolute;
  width: 100%;
  height: 350px;
  left: 0;
  bottom: 35px;
}

.hide {
  display: none;
}

.faq {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  height: 600px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.faq-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  grid-column-gap: 80px;
  height: 500px;
}

.faq-first-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-first-box h3 {
  width: 250px;
}

.faq-first-box-image {
  height: 350px;
  width: 500px;
  position: relative;
  border: 1px solid #bac2bf;
}

.faq-first-box-image img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.faq-second-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[auto-fill];
      grid-template-rows: repeat(auto-fill, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 30px;
  align-self: flex-end;
  overflow-y: auto;
}

.faq-accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 32px;
}

.faq-accordion p {
  font-size: 0.85rem;
  color: #626562;
}

.faq-accordion-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq-accordion-text h5 {
  font-size: 1rem;
  color: #333333ff;
  margin-bottom: 5px;
}

.faq-accordion i {
  color: #03381c;
  cursor: pointer;
}

.accordion-inactive {
  border: 1px solid #bac2bf;
}

.accordion-active {
  border: 1px solid #03381c;
}

.project {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 650px;
}

.project-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 520px;
}

.project-box-text {
  width: 500px;
}

.project-box-text p {
  color: #333333ff;
  font-size: 0.85rem;
}

.project-box-image {
  width: 100%;
  height: 350px;
  position: relative;
}

.project-box-image img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  height: 100%;
}

.absolute-project-text {
  position: absolute;
  top: 40px;
  left: 40px;
}

.absolute-project-preview {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #fff;
  width: 650px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.absolute-project-preview p {
  width: 405px;
  font-size: 0.85rem;
}

.absolute-project-arrow-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.absolute-project-arrow-box i {
  font-size: 1rem;
}

.absolute-project-arrow-box-left {
  color: #03381c;
  background-color: transparent;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.absolute-project-arrow-box-right {
  color: #f6f7f7;
  background-color: #03381c;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-absolute-image {
  position: absolute;
  width: 100%;
  height: 350px;
  right: 30px;
  bottom: 35px;
}

.relative-image {
  position: relative;
  width: 100%;
  height: 350px;
  position: relative;
  border: 1px solid #bac2bf;
}

.footer {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
}

.footer-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  grid-row-gap: 60px;
}

.footer-top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  height: 350px;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom p {
  font-size: 0.9rem;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100px;
}

.footer-icons i {
  color: #333333ff;
  font-size: 1.5rem;
}

.footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-contact h5 {
  font-size: 1.3rem;
  font-weight: 500;
}

.footer-contact p {
  font-size: 0.95rem;
  width: 500px;
}

.footer-contact-item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  grid-row-gap: 10px;
}

.footer-contact-item-line {
  width: 2px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  background-color: #bac2bf;
}

.footer-branch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-branch-1 {
  width: 450px !important;
}

.footer-branch-2 {
  width: 300px !important;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-form input,
.footer-form textarea {
  padding: 20px;
  outline: 0;
  border: 1px solid #bac2bf;
}

.footer-form input::-webkit-input-placeholder,
.footer-form textarea::-webkit-input-placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form input:-ms-input-placeholder,
.footer-form textarea:-ms-input-placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form input::-ms-input-placeholder,
.footer-form textarea::-ms-input-placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form input::placeholder,
.footer-form textarea::placeholder {
  color: #bac2bf;
  font-size: 0.8rem;
}

.footer-form textarea {
  overflow-y: auto;
}

.footer-form button {
  padding: 20px !important;
}
